*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.container-images img{
    height: 300px;
    border-radius: 10px;
    margin: 6px;
    transition: 0.3s all ease-out;
   -webkit-transition: 0.3s all ease-out;

}
.container-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem;
    
    
}
.container-images img:hover{
    -webkit-transform: scale(1.04);
    transform: scale(1.04);

}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: #282828;
    color: white;
    font-size:18px ;
}

header.navbar nav ul li{
     margin-right: 2rem;  
     justify-content: flex-end;
}

header.navbar nav ul{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    
}
header{
    padding: 1rem;
}

header.navbar{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
ul{
        list-style: none;
}

a{
    text-decoration: none;
}

@media (max-width:568px) {
    .container-images img
    {
        max-width:400px;
    }
 }

 @media (max-width:469px) {
     .container-images img
     {
         max-width:320px;
         margin-bottom: 16px;
     }

     .navbar
     {
        flex-direction: column;
     }

     .logo{
       margin: 0 auto;
       padding-bottom: 1rem;
    }

    .navbar nav ul
    {
        justify-content: center;
    }

    header
    {
        padding-bottom: 0;
    }

    .container-images{
        padding: 2rem;   
    }
  }

 @media (max-width:369px) {
    .container-images img
    {
        max-width:260px;
    }
 }

 @media (max-width:297px) {
    .container-images img
    {
        max-width:230px;
    }
 }